.metadata/
Servers/
RemoteSystemsTempFiles/



#eclipse project specific
*/.classpath
*/.project
*/.settings/
*/build/
*/bin/
*/target/

#eclipse project specific
.classpath
.project
.settings/
build/
bin/
target/